@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap");

/* all */
* {
  list-style: none;
  font-family: "Noto Sans TC", Helvetica, "微軟正黑體", sans-serif;
  text-decoration: none;
}

/* link style */
.router-link-active {
  text-decoration: none;
  color: black;
}
a {
  color: black;
}
a:hover {
  color: rgb(97, 96, 96);
}
a:focus {
  outline: none;
}
/* show item */
.mobile-show {
  display: none;
}
@media (max-width: 991px) {
  .mobile-show {
    display: inline;
  }
  .mobile-none {
    display: none;
  }
}

html,
body,
#ecommerce {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  margin-bottom: 0;
}
